<html>

<head>
<title></title>

</head>

<body>
     <table=border="2">   
     
     <tr>
        <th>username</th>
        
        <th>image</th>
        <tr>
       <tr (% for author in authors%) >

        <td>{{author.username}}</td>
        <td><img widh ="30%" src="{{asset(author.picture)}}"</td>
        
        <tr (%endfor%)>
     
     






       

       <table>
 
</body>


























</html>